$font-body:     "Roboto", Helvetica, Arial, sans-serif;
$body-color: #f1f1f1;
$hTag-font:'Montserrat', sans-serif;
$input-search:#848484;
$inputBg:#ffebd7;
$borderClr:#f58922;
$fontClr:rgb(39, 38, 38);
$controlBg:#fff;
$spacer :5px;

// Nav
$bgDefault      : #f58922;
$bgHighlight    : #cc7727;
$colDefault     : #ecf0f1;
$navSub:#fffcfa;
$colHighlight   : hsl(32, 100%, 22%);
$navActive:#fff;
$navHover:#000;
$navTop: #a90101;
$dropDown       : true;

//breadcrumb
$breadcrumbBg:#fff;
$breadcrumbFontclr:#000;
$breadCrmActive: #636c72;


