
        <div class="row marginTop">
            <!-- <div class="col-xs-12 col-sm-2 col-2">    </div>  -->
            <div class="col-xs-12 col-sm-4 col-4"> <a href="#">
                <img src="img/detailsquare.jpg" alt="White Blouse Armani">
              </a>  <a href="#">{{ProductName}}</a></div> 
            <div class="col-xs-12 col-sm-2 col-2 quantutyCls"> <input type="number" [value]="item.Quantity" class="form-control" /></div> 
            <div class="col-xs-12 col-sm-2 col-2">{{PricePerUnit}}</div> 
            <div class="col-xs-12 col-sm-2 col-2">{{ProductSet}}</div> 
            <div class="col-xs-12 col-sm-2 col-2 removeIcon">  <a href="#">
                <i class="fa fa-trash-o"></i>
              </a></div> 
        </div> 


    <!-- <tfoot>
      <tr>
        <th colspan="5">Total</th>
        <th colspan="2">{{totalPrice}}</th>
      </tr>
    </tfoot> -->
  