<div class="panel panel-default sidebar-menu "  >

    <div class="panel-heading">
        <h3 class="panel-title"> <i class="fa fa-filter"></i> Filter 
            <a class="btn btn-xs btn-danger pull-right" (click)="clearAllFilters()"><i class="fa fa-times-circle"></i> Clear</a></h3>
    </div>

   


   <div class="panel-body">

            <form>
                <div class="form-group">
                  

                        <div class="filter-summary">
                            <div class="filter">
                              <div 
                                *ngFor="let filter of filters$ | async" 
                                class="option"
                                (click)="removeFilter(filter)">
                                
                                <span class="fontTxt">{{ filter.ProductTagValueName }}</span>
                              </div>
                             
                            </div>
                          </div>
                  
                   
                </div>

                

            </form>

        </div>
       
   
   
   
      </div>
