
<div class="container-fluid" id="top">
    <div class="col-md-6 offer" data-animate="fadeInDown">
        <!-- <a href="#" class="btn btn-success btn-sm" data-animate-hover="shake">Offer of the day</a>  <a href="#">Get flat 35% off on orders over $50!</a> -->

        <form role="search">
            <div class="input-group">
                <input type="text" class="form-control" name="search" placeholder="Search" [(ngModel)]="searchValue">
                <span class="input-group-btn">

                    <button type="submit" class="btn btn-primary" (click)="searchEngine()">
                        <i class="fa fa-search"></i>
                    </button>

                </span>
            </div>
        </form>
    </div>
    <div class="col-md-6">
      
        <app-profile-dropdown  [totalCartItems]="totalCartItems | async"  [isAuthenticated]="isAuthenticated | async"></app-profile-dropdown>
    </div>
</div>




<!--/.navbar-header productType$ -->

<div class="navbar navbar-default bragaz" role="navigation" id="navbar">
    <div class="container-fluid">
        <div class="navbar-header">

            <a class="navbar-brand home" href="index.html" data-animate-hover="bounce">
                <img src="assets/images/logo.png" width="139px" height="60px" alt="BragaZ logo" class="hidden-xs">
                <img src="assets/images/logo.png" alt="BragaZ logo" class="visible-xs">
                <span class="sr-only">Obaju - go to homepage</span>
            </a>
            <div class="navbar-buttons">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navigation">
                    <span class="sr-only">Toggle navigation</span>
                    <i class="fa fa-align-justify"></i>
                </button>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#search">
                    <span class="sr-only">Toggle search</span>
                    <i class="fa fa-search"></i>
                </button>
                <a class="btn btn-default navbar-toggle" href="basket.html">
                    <i class="fa fa-shopping-cart"></i>
                    <span class="hidden-xs">3 items in cart</span>
                </a>
            </div>
        </div>
        <!--/.navbar-header -->

        <!-- <div class="navbar-collapse collapse" id="navigation" [collapse]=isCollapsed> -->
        <div class="navbar-collapse collapse" id="navigation">
            <ul class="nav navbar-nav navbar-left">
                <!-- <li class="active"><a href="index.html">Home</a>
                    </li> -->
                <li class="dropdown bragaz-fw" *ngFor="let n of productType$ | async" (click)="select(n.ProductTypeName);" [ngClass]="{active: isActive(n.ProductTypeName)}">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown" data-hover="dropdown" data-delay="200">{{n.ProductTypeName}}
                        <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu" *ngIf="n.ProductCategories?.length > 0">
                        <li>
                            <div class="bragaz-content">
                                <div class="row">
                                    <div class="col-sm-3" *ngFor="let c of n.ProductCategories">
                                        <h5>{{c.ProductCategoryName}}</h5>
                                        <ul *ngFor="let child of c.ProductSubCategories">
                                                <!-- '/product/', product.slug -->
                                            <li><a  [routerLink]="['', n.ProductTypeName,child.SubCategoryName]" >{{child.SubCategoryName}}</a>
                                                </li> 
                                            <!-- <li>
                                                <a (click)="selectProduct(n.ProductTypeName,child)">{{child.SubCategoryName}}</a>
                                            </li> -->
                                        </ul>
                                    </div>


                                </div>
                            </div>
                            <!-- /.bragaz-content -->
                        </li>
                    </ul>
                </li>


            </ul>

        </div>
        <!--/.nav-collapse -->

     

        <div class="collapse clearfix" id="search">

            <form class="navbar-form" role="search">
                <div class="input-group">
                    <input type="text" class="form-control" placeholder="Search">
                    <span class="input-group-btn">

                        <button type="submit" class="btn btn-primary">
                            <i class="fa fa-search"></i>
                        </button>

                    </span>
                </div>
            </form>

        </div>
        <!--/.nav-collapse -->

    </div>
    <!-- /.container -->
</div>