.size{padding: 6px 10px;
    border: 2px solid #e0e0e0;  
    min-width: 36px;
        margin: 0 2px; display: inline-block;}

        // .colors span{
        //     // border: 1px solid #e0e0e0; 
        //     height: 22px;
        //     width: 37px;
        //     background-color: #eee;
        //     border: 1px solid #e8e8e8;
        //     display: inline-block; 
        //     margin-top: 5px;
        // }

        .numberPicker{
            display: inline-block;


        }
        
        // .productSize{ width: 200px;}

        


      