// /* You can add global styles to this file, and also import other style files */
// /* You can add global styles to this file, and also import other style files */
// html, body{
// 	margin:0;
// 	font-size: 100%;
// 	font-family: 'Lato', sans-serif;
// 	background: #fff;
// }
// body a {
// 	text-decoration:none;
// 	transition:0.5s all;
// 	-webkit-transition:0.5s all;
// 	-moz-transition:0.5s all;
// 	-o-transition:0.5s all;
// 	-ms-transition:0.5s all;
// }
// a:hover{
//  text-decoration:none;
// }
// input[type="button"],input[type="submit"]{
// 	transition:0.5s all;
// 	-webkit-transition:0.5s all;
// 	-moz-transition:0.5s all;
// 	-o-transition:0.5s all;
// 	-ms-transition:0.5s all;
// }

// h1,h2,h3,h4,h5,h6{
// 	margin:0;
// 	font-family: 'Montserrat', sans-serif;
// }	
// p{
// 	margin:0;
// }
// ul{
// 	margin:0;
// 	padding:0;
// }
// label{
// 	margin:0;
// }

.border{ border: 1px solid #ededed;}
        .margin0{ margin: 0}

        .paddingCtrl{
            padding: 5px 3px ;
        }
        .borderRight{ border-right: 1px solid #ededed;}
        .borderLeft{border-left: 1px solid #ededed;}
        .borderBottm {    border-bottom: 1px solid #ededed;}
        .borderTop{border-top: 1px solid #ededed;}
        .productmargin{margin: 5px 0px 5px 0px;}

        